<html ng-app="Nourri">
    <head>
        <title>Nourri</title>
        <!--Angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

        <!--jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

        <!--Main javascript-->
        <script src="main.js"></script>

        <!--Main stylesheet-->
        <link rel="stylesheet" type="text/css" href="style.css">

        <!--Font family-->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    </head>
    <body ng-controller="nourriController">
        <div class="sideNav" ng-show="showSideNav">
        </div>

        <div class="wrapper" ng-class="{'showSideNav': showSideNav }">
            <div class="header">
                <span class="menuToggle" ng-click="showSideNav = !showSideNav">menu</span>
                <h1>Nourri</h1>
            </div>

            <div class="main">
                <h1>Voeding</h1>
                <div class="quick-add">
                    <p>Snel toevoegen:</p>
                    <input type="text" id="amount"/>
                    <select id="amount_type">
                        <option>ml</option>
                        <option>min</option>
                    </select>
                    <button id="quickAdd">Toevoegen</button>
                </div>
            </div>
            <!-- List of feedings - today only -->
            <div class="main">
                <h1>Voeding {{meal_view_date | date:'dd-MM-yyyy'}}</h1>
                <button ng-click="setFilterDate(-1)">Vorige dag</button>
                <button ng-click="setFilterDate(1)" ng-hide="isToday()">Volgende dag</button>
                <ul>
                  <li ng-repeat="meal in meals | filter: showOneDay | orderBy:'date'">
                      {{getFeedDate(meal.date) | date:'HH:mm'}} - {{meal.amount}}{{meal.type}}
                  </li>
                </ul>
                Aantal voedingen: {{getTodaysFeedingTotal()}}<br>
                Totaal kunstvoeding milliliters: {{getTotalMeals("ml")}}ml<br>
                Totaal borstvoedings minuten: {{getTotalMeals("min")}}min<br>
                <br>

                Baby's gewicht is
                <input type="text" ng-model="baby_weight" id="baby_weight"/>
                <button id="save_weight">SAVE</button><br>
                De baby weegt {{ baby_weight[baby_weight.length - 1].weight }}gram <br>
                en moet {{ baby_weight[baby_weight.length - 1].weight*150/1000 }}ml per dag drinken
            </div>
        </div>
        <!--Firebase-->
        <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAzowWyHVK8ZKJPfP5O7EzIGC_uR1SC7a0",
                authDomain: "nourri-dafa4.firebaseapp.com",
                databaseURL: "https://nourri-dafa4.firebaseio.com",
                projectId: "nourri-dafa4",
                storageBucket: "nourri-dafa4.appspot.com",
                messagingSenderId: "1029878868016"
            };
            firebase.initializeApp(config);

            var mealsRef = firebase.database().ref().child('meals');
            var weightRef = firebase.database().ref().child('weight');

            // Add amount
            $('#quickAdd').click(function () {
                var currentDate = new Date;
                mealsRef.push({
                    amount: parseInt($('#amount').val()),
                    date: currentDate.toString(),
                    type: $('#amount_type').val()
                });
            });

            $('#save_weight').click(function () {
                var currentDate = new Date;
                weightRef.push({
                    weight: parseInt($('#baby_weight').val()),
                    date: currentDate.toString()
                });
            });
        </script>
    </body>
</html>
