/* Main stylesheet */

body {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    background-color: #F46336;
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: #F4835F;
}

h1,
h2 {
    color: #337AB7;
}

h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #D6D6D5;
    width: 50%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    line-height: 25px;
}

li::before {
    content: "\002022";
    color: #909090;
}

/* Header */

div.header {
    background-color: #337AB7;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

div.header span.menuToggle {
    position: absolute;
    left: 20px;
    top: 50%;
}

div.header h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Navigation */

div.sideNav {
    background-color: #F19222;
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
}

div.wrapper.showSideNav {
    padding-left: 250px;
}

/* Main */

div.main {
    width: 950px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.main h2.ng-binding {
    display: inline-block;
}

/* Date button */

div.main button.date-button {
    background-color: transparent;
    color: #F46336;
    font-size: 20px;
    font-weight: bold;
    display: inline-block; 
}

div.main button.date-button.previous {
    margin-left: 0;
    margin-right: 50px;
}

div.main button.date-button.next {
    margin-left: 50px;
    margin-right: 0;
}

/* Dashboard */

div.dashboard a {
    color: #787878;
    text-decoration: none;
}

span.label {
    text-align: center;
    display: block;
}

/* Quick add */

div.quick-add {
    border: 1px solid #D6D6D5;
    padding: 10px;
}

div.quick-add p {
    color: #787878;
    display: inline-block;
}

div.quick-add span {
    padding-left: 10px;
    padding-right: 10px;
}

/* Meals overview */

div.row {
    display: inline-block;
    width: calc(50% / 3);
    text-align: center;
    vertical-align: top;
}

div.meals-overview  div.row img {
    margin-top: 20px;
}

div.meals-overview  div.row span {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}